FIVEM_PUBLIC_ID=YOUR_PUBLIC_SERVER_ID
FIVEM_WHITELIST_ID=YOUR_WHITELIST_SERVER_ID
FIVEM_ACADEMY_ID=YOUR_ACADEMY_SERVER_ID
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-me
STEAM_API_KEY=0F390E7A12E29553D38D84CB4AC30954
DATABASE_URL=postgresql://user:password@localhost:5432/pulserp
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/replace-me
DISCORD_CLIENT_ID=replace-me
DISCORD_CLIENT_SECRET=replace-me
ADMIN_STEAM_IDS=
FIVEM_ALLOWLIST_ADDRESS=169.197.85.213:30120
